<!-- component -->
<li class="bg-white dark:bg-black p-10 flex items-center justify-center" id="micropost-<%= micropost.id %>">
    <div class="bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-800 p-4 rounded-xl border max-w-sm">
      <div class="flex justify-between">
        <div class="flex items-center">
          
           <%= link_to(gravatar_for(micropost.user, size:50), micropost.user)%>
          <div class="ml-1.5 text-sm leading-tight">
            <span class="text-black dark:text-white font-bold block "><%= micropost.user.name%></span>
            <span class="text-gray-500 dark:text-gray-400 font-normal block">@<%= micropost.user.name%></span>
          </div>
        </div>
       <img class="h-4 w-4 ", src="https://flowbite.com/docs/images/logo.svg"  />
      </div>
      <p class="text-black dark:text-white block text-xl leading-snug mt-3"><%= micropost.content %></p>
      <%= image_tag micropost.display_image if micropost.image.attached? %>
      <p class="text-gray-500 dark:text-gray-400 text-base py-1 my-0.5"><%= time_ago_in_words(micropost.created_at)%> ago</p>
      <div class="border-gray-200 dark:border-gray-600 border border-b-0 my-1"></div>
      <div class="text-gray-500 dark:text-gray-400 flex mt-3 justify-between">
        <div class="flex items-center mr-6">
          <%= link_to like_micropost_path(micropost), data: { "turbo-method": :patch}, remote: true, id: "like-link-#{micropost.id}" do %>
          <% if current_user.voted_up_on?(micropost) %>
          <div class="">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi h-4"><g><path d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>
            <b class="mt-2">
              <% if micropost.get_likes.size == 1 %>
                <span class="text-xs font-medium"><%= micropost.get_likes.size %> like</span> 
              <% else %>  
                <span class="text-xs font-medium"><%= micropost.get_likes.size %> likes</span> 
              <% end %>  
            </b>
          </div>
          
           
          <% else %>
          <div class="">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi h-4"><g><path d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>  
            <b>
                <span class="text-xs font-medium"><%= micropost.get_likes.size %> likes</span> 
            </b>
          </div>
        
          <% end %>
        <% end %>
        </div>
        <% if current_user?(micropost.user) %>
          <%= link_to micropost, class: "h-4 w-4", data: {"turbo-method": :delete, turbo_confirm: "Are you sure"} do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="20px" height="20px"><path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"/></svg>
          <% end %>
        <% end %>  
      </div>
    </div>
  </li>

 