<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   <%= render 'layouts/shim' %>

  </head>

  <body>
    <%= render 'layouts/header'%>
    <main class="container mx-auto mt-28 px-5 flex">
      <% flash.each do |message_type, message| %>
      <div class="flex p-4 mb-4 text-sm text-white border border-<%= message_type %>-300 rounded-lg bg-<%= message_type%>-300 dark:bg-gray-800 dark:text-<%= message_type %>-400 dark:border-green-800 w-full" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium"><%= message %></span>
        </div>
      </div>
      <% end %>

      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  
   
  </body>
</html>
